@import 'src/global/styles';

.text {
  font-size: $font-size-medium;
  color: $black;

  &.primary {
    color: $black;
  }

  &.secondary {
    color: $dark-gray;
  }

  &.small {
    font-size: $font-size-small;
  }

  &.medium {
    font-size: $font-size-medium;
  }

  &.large {
    font-size: $font-size-large;
  }

  &.bold {
    font-weight: $font-weight-bold;
  }

  &.semibold {
    font-weight: $font-weight-semi-bold;
  }
}
